<div id="header">
    <a id="logout_fb" href="#" class="icon back">
      <img src="img/back.png" />
    </a>
    <h1>welcome</h1> 
</div>
<div id="content">
  <div id="login">
      <div id="avatar">
        <img id="photo" />
      </div>
      <div id="username"></div> 
  </div>
  <div class="jcarousel-wrapper" style="position: relative;">
      <div class="jcarousel">
          <ul>
          </ul>
      </div>
      <p class="jcarousel-pagination"></p>
  </div>
</div>


<div class="hide">
  <div id="modal">
    <div class="modal-body">
      <div id="heart" class="left"></div>
      <p class="modal-text left">I want to work in Neovada</p>
    </div> 
    <button class="close">OK</button> 
  </div>
</div>